<main>
    <div class="Logo"><h1>Mis Libros</h1></div>
    <div class="Espacio"></div>
    <div class="Home"><h2><a routerLink="home" style="text-decoration: none;">Home</a></h2></div>
    <div class="Registrar"><h2><a routerLink="register"style="text-decoration: none;">Registrar</a></h2></div>
    <div class="Registrar"><h2><a routerLink="profile"style="text-decoration: none;">Profile</a></h2></div>
    <div class="Registrar"><h2><a routerLink="books"style="text-decoration: none;">Libros</a></h2></div>
</main>
