<main>
    <div>
    <h1>Ingrese sus datos:</h1>
    <form class="">
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="URL">
        <input type="password" placeholder="Contraseña">
        <input type="password" placeholder="Repetir Contraseña">
        <input type="button" value="Enviar" class="Enviar">
    </form>
    <h2>Pronto nos pondremos en contacto!</h2>
    </div>
</main>
