<main>   
    
        <div class="Contenido1">
             
            <div class="card">
              <img class="photo" src="{{libro.photo}}">
              <div id="titulo">{{libro.title}}</div>
              <h2 id="type">Codigo: {{libro | pipe}}</h2>
              <h4 id="autor">Autor: {{libro.author}}</h4>
              <h2 id="precio">Precio: {{libro.price}} €</h2>
              <div class="boton">
                <button >Comprar</button>
                </div>
                <button class="borrar" on-click ="borrar(libro)">X</button>  
            </div>
        </div>
        
</main>
